@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@400;500;700&display=swap');

:root {
  --font-prin: 'Roboto', sans-serif;
  --font-prin-cond: 'Roboto Condensed', sans-serif;
  --font-sec: 'Luckiest Guy';
    

  --text-main-color: black;
  --color-bg: #F1F0DE;
  --color-accent: #E74423;
  --color-primary: #00A364;
  --color-white: #FFFFFF;
  --color-lightgray: #D3CFCF;
  --color-gray: #928989;

  --header-height: 6%;
  --height-card-product: '10rem';

}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  overflow: scroll;
}


/* Agrega cualquier otro estilo global aquí */

a {
  text-decoration: none;
  color: var(--text-main-color);
}

.menu-options {
  font-family: var(--font-prin);
    letter-spacing: 1px;        
     
}

.menu-options:hover {
     color: '#F1F0DE';
     border: 1px solid black;
}

.burger__menu {
  display: none;
}


.card__image-big {
  display: none;
}

.lista__ingredientes {
  display: none;
}

 @media (min-width: 600px) {
  .card__image-small {
    display: none;
  }

  .card__image-big {
    display: flex;  
  }

  .lista__ingredientes {
    display: block;
  }

 }
