@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@400;500;700&display=swap');

:root {
  --font-prin: 'Roboto', sans-serif;
  --font-prin-cond: 'Roboto Condensed', sans-serif;
  --font-sec: 'Luckiest Guy';
    

  --text-main-color: black;
  --color-bg: #F1F0DE;
  --color-accent: #E74423;
  --color-accenthover: #b8351b;
  --color-primary: #00A364;
  --color-primaryhover: #047c4e;
  --color-white: #FFFFFF;
  --color-lightgray: #D3CFCF;
  --color-gray: #928989;
  --color-succes: #DDE5D0;

  --header-height: 6%;
  --height-card-product: '10rem';

}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  overflow: auto; 
}


/* Agrega cualquier otro estilo global aquí */

a {
  text-decoration: none;
  color: var(--text-main-color);
}

.menu-options {
  font-family: var(--font-prin);
    letter-spacing: 1px;        
     
}

.menu-options:hover {
     color: '#F1F0DE';
     border: 1px solid black;
}

.burger__menu {
  display: none;
}


.card__image-big {
  display: none;
}

.lista__ingredientes {
  display: none;
}

 @media (min-width: 600px) {
  .card__image-small {
    display: none;
  }

  .card__image-big {
    display: flex;  
    margin-left: 0;
  }

  .lista__ingredientes {
    display: block;
  }

 }

    @media (min-width: 600px) {
      .card__image-big {          
          margin-left: -1rem;
        }
  }

  @media (min-width: 1200px) {

  }  

 /* Increase the specificity */
 .Button:disabled {
   color: var(--color-white);
 }


.MenuItem {
  color: black;
}



 /* Personaliza las opciones del boton selector */
 .MenuItem.Mui-selected {
   background-color: var(--color-gray);
   color: var(--color-white);
 }

 .MenuItem.Mui-selected:hover { 
  color: black;
  background-color: var(--color-lightgray);
 }


/*  Personaizando el boton del triángulo del selector */
 .select__icon .MuiSelect-icon {
   /* color del triangulo */
   fill: black;
   background-color: var(--color-lightgray);
   border-radius: 0 4px  4px 0;
   width: 25%;
   height: 100%;  
   top: 0;
   right: 0;
   cursor: pointer;
 }


.select__icon-car .MuiSelect-icon{
  width: 20%;
}
